.fs-8{
  font-size: 11.6px;
}

.lh-xs{
  margin-top: -11px;
  line-height: 11px;
}

.lh-s{
  line-height: 15px;
}

.mt-s{
  margin-top: -5px;
}

.text-order{
  color: #469F74;
}

.text-red{
  color: #BD0707!important;
}

.text-soft-blue{
  color: #00D1FF;
}

.bg-soft-blue{
  background: rgba(0, 209, 255,0.1);
}

.bg-orange{
  background-color: rgba(241, 57, 33, 0.116);
}

.bg-purple-soft{
  background-color: rgb(143, 186, 241);
}

.bg-red-soft{
  background-color: rgb(209, 55, 55)
}

.text-soft-red{
  color: #974A4A;
}

.bg-red{
  background: #BD0707!important;
}

.bg-soft-red{
  background: #F6DADA;
}

.order-border{
  border-radius: 20px!important;
}

.b-red{
  border-color: #BD0707!important;
}

.w-80{
  width: 80%;
}

.bw{
  border-width: 4px;
  border-style: solid;
}

.main-landing-img{
  position: absolute;
  right: -6rem;
}

.jumbotron{
  position: relative!important;
  padding: 4.5rem 1rem!important;
}

.text1:hover{
  color: white;
}

/* table{
  border-collapse: collapse;
} */

.income{
  color: #061E99;
}

.wait-status{
  color: #FF9900;
}

.success-status{
  color: #78A85A;
}

.cancel-status{
 color: #E83939;
}
.pending-status{
 color: rgb(149, 26, 250)
}

.way-status{
  color: #00D1FF;
}

.cancel{
  background: #FF0742!important;
}
.approve{
  background: #0ACF83!important;
}

th{
  background: #E5E5E5;
}

table{
  width: 100%;
}

td p{
  /* float: left; */
  display: inline-block;
  margin: 0 20px!important;
  color: white;
  padding: 0 1em!important;
  font-weight: 850;
}

.tr,.td,.th{
  border: 1px solid black;
}

.bg-soft{
  background: rgba(224, 200, 200, 0.25);
}

.modal-next{
  border-style: none;
  outline: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(209, 55, 55);
  transition: 0.2s ease;
}

.pop-t{
  font-size: 28px;
  white-space: nowrap;
}

.cursor-p{
  cursor: pointer;
}

.toping-cnt{
  position: relative;
}

.done-img{
  position: absolute;
  top: 0;
  right: 29px;
}

.basket-fill{
  position: absolute;
  top: 0;
  right: -5px;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 9px;
}

.product-detail-hero{
  width: 500px;
}

.product-img{
  max-width: 400px;
}

.profile-image{
  width: 200px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(100, 98, 98);
}

.tr-profile-img{
  max-width: 80px;
}

.qty{
  display: inline-block;
  outline: none;
  border-style: none;
  color: white;
  border-radius: 6px;
  font-weight: 850;
  margin: 0 10%;
  padding: 0 10px;
  text-align: center;
}

.status1{
  background-color: rgba(255, 153, 0,0.2);
  border-radius: 6px;
}

.status2{
  background-color: rgba(120, 168, 90,0.1);
  border-radius: 6px;
}

.status3{
 background: rgba(232, 57, 57,0.1);
 border-radius: 6px;
}

.status4{
  background-color: rgb(0, 209, 255,0.1);
  border-radius: 6px;
}
.status5{
  background-color: rgb(149, 26, 250,0.1);
  border-radius: 6px;
}

.edit-profile{
  height: 20px;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.356))
}

.input-profile{
  border-radius: 20px;
  border: 2px solid #ec8484;
  outline: none;
  margin: 10px 0;
  padding: 2px 10px;
}

.over{
  height: 350px;
  overflow-y: scroll;
}

.label-profile{
  transition: 0.6s ease;
  border-radius: 6px;
  padding: 0.8em 0;
  background: #ec8484;
}

.text-label{
  margin-top: 18px;
  color: white;
  margin-right: 8px;
  transition: 0.6s ease;
}

.icon-profile{
  height: 26px;
}

.side-icon{
  width: 29px;
}

.side-bg{
  background: rgb(247, 88, 68);
  border-radius: 40px 0 0 40px;
  color: white;
  height: 600px;
}

.container{
  border-radius: 40px!important;
}

.tb-user-image{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.tb-cnt-order{
  border-style: none;
}

.status-del-img{
  width: 29px;
  height: 29px;
}

.head-message{
  border-bottom: 1px solid rgb(170, 164, 164);
}

.admin-send{
  border-style: none;
  color: white;
  border-radius: 20px;
  outline: none;
  padding: 10px 20px;
  background: rgb(247, 88, 68);
  transition: 0.6s ease;
}

.menu1,.menu2,.menu3,.menu4{
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: 0.6s ease;
}

.page-empty{
  width: 40%;
}

.page-empty1{
  width: 40%;
  margin-top: -100px;
}

.transaction-btn{
  border-style: none;
  color: white;
  border-radius: 20px;
  outline: none;
  padding: 10px 20px;
  background: #ec8484;
  transition: 0.6s ease;
}

.del-cnt{
  box-shadow: 5px 5px 20px rgb(143, 140, 140);
}

.pop-img{
  width: 29px;
}

.list-p-adm{
  height: 50px;
  height: 50px;
  border-radius: 8px;
}

.l-product{
  /* border: 1px solid rgba(223, 118, 118, 0.432); */
  box-shadow: 5px 5px 20px #fcbfbf;
}

.img-p-landing{
  height: 329px;
}

.topping-cnt{
  max-height: 290px;
  overflow-y: scroll;
}

.topping-img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.chart-item{
  height: 500px;
  overflow-y: scroll;
}

.user-header-img{
  height: 58px;
  width: 58px;
  border-radius: 50%;
}

.order-side,.message-side{
  background: linear-gradient(to right,transparent,transparent);
  border-radius: 21px 0 0 21px;
  border-left: 2px solid transparent;
  transition: 0.6s ease!important;
}

.pending-img{
  height: 40px;
  width: 40px;
}

.modal-next:hover{
  opacity: 60%;
  color: black;
}

.status1:hover,.status5:hover,.status2:hover,.status3:hover,.status4:hover{
  color: white;
}
.status1:hover{
  background-color: rgba(255, 153, 0,1);
}

.status2:hover{
  background-color: rgba(120, 168, 90,1);
}

.status3:hover{
 background: rgba(232, 57, 57,1);
}

.status4:hover{
  background-color: rgb(0, 209, 255,1);
}
.status5:hover{
  background-color: rgb(149, 26, 250,1);
}

.label-profile:hover{
  background: #ebbdbd;
}

.label-profile:hover .text-label{
  color: #974A4A;
}

.order-side:hover,.message-side:hover{
  background: linear-gradient(to right,rgb(247, 88, 68),white);
  color: rgb(146, 50, 37);
  border-left: 2px solid white;
}

.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover{
  color: rgb(247, 88, 68);
  border-bottom: 2px solid rgb(247, 88, 68);
}

.admin-send:hover,.transaction-btn:hover{
  background: #974A4A;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(241, 57, 33);
  border-radius: 20px;
}
